/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F5F5F5;
    color: #333333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #E6B14C;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 24px;
    margin-bottom: 10px;
}

input[type="text"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

button[type="submit"] {
    display: block;
    background-color: #E6B14C;
    color: #FFFFFF;
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #CD8C3F;
}

#answer {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    font-size: 24px;
    line-height: 1.5;
}

footer {
    background-color: #333333;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
}
